* {
    padding: 0;
    margin: 0;
  }
  
  /* For the code to be semantic, this tag was needed */
  h6 {
    display: none;
  }

  /* Form as a whole */
  .container {
      padding: 15px;
      color: black;
      text-shadow: 0.5px  0.5px white;
      font-style: italic;
      font-family: 'Verdana';
      font-size: 15px;
      margin: 15px auto;
      width: 300px;
      border: 3px solid wheat;
      border-style: dotted;
      border-radius: 15px;
      background: url('https://images.unsplash.com/photo-1569410593054-c37f3c20c52d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8cG9sbHV0aW9ufGVufDB8MXwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
      background-size: cover;
      text-align: center;
  }
  
  /* Text field */
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    /* border-radius: 15px; */
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  

  /* Submit button */
  input[type="submit"] {
      background-color: black;
      color: white;
      border-radius: 15px;
      padding: 12px 20px;
      cursor: pointer;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
  

   /* Change look of the mouse when over submit */
  input[type="submit"]:hover {
    background-color: white;
    color: black;
  }
  
  
  
  Nav Bar CSS
  .main-nav {
      margin-top: 5px;
  }
  
  .header, .main-nav {
      font-size: 1.02em;
      display: flex;
      margin-right: 2.5em;
  }
  .header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: white;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.178);
  }
  .header 
  .logo a,
  .main-nav a {
      padding: 10px 15px;
      text-transform: uppercase;
      text-align: center;
      display: block;
      letter-spacing: 3px; 
  }
  
  .main-nav a {
      color: #000000;
      font-size: 1em;
  }
  
  .main-nav a:hover {
      color: #0a6b2f;
  }