* {
  box-sizing: border-box;
  padding: 0;
}

body {
  /* font-family: 'Montserrat', sans-serif; */
  line-height: 1.6;
}

body, html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 2em;
  font-family: 'Shadows Into Light', cursive;
}

.main-nav {
  margin-top: 5px;
}

.header, .main-nav {
  font-size: 1.02em;
  display: flex;
  font-family: 'JetBrains Mono', monospace;
  margin-right: 2.5em;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(216, 29, 29, 0.705);
}

.header .logo a, .main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  letter-spacing: 3px;
}

.main-nav a {
  color: #000000;
  font-size: 1em;
}

.main-nav a:hover {
  color: rgba(216, 29, 29, 0.986);
}
/* WHAT IT IS AIR POLLUTION SECTION */
.first-section{
  margin-top: 20px;
  display: flex;
  /* width: 99%; */
  margin-left: auto;
  margin-right: auto;
}
.first-section img{
  margin-top: 50px;  
  width: 2500px;
  height: 560px;
}
.healthyAir h2{
  padding-top: 40px;
  font-family: 'JetBrains Mono', monospace;
  font-size: 40px;
  text-align: center;
}
.healthyAir p{
  width: 85%;
  font-size: 17px;
  margin-left: auto;
  margin-right: auto;
}

/* FLEXBOX SECTION */
.flexbox-header {
  text-align: center;
  font-size: 50px;
  font-family: 'JetBrains Mono', monospace;
}

#mission-header .para{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 20px;
  width:960px;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  margin-left: 20px;
  margin-right: 18px;
  margin-bottom: 30px;
}

.flexbox-container a {
  text-decoration: underline;
  font-size: 17px;
  color: rgb(238, 41, 27);
}


.flexbox-item {
  width: 150px;
  margin: 10px;
  box-shadow: 1px 2px 1px 1px  rgb(216, 29, 29);
  background-color: #dfdfdf;
}

.flexbox-item img {
  width: 100%;
  height: 350px;
}

.flexbox-item h2 {
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
}

a:hover {
  color: rgba(6, 61, 128, 0.947);
}

.flexbox-item p {
  text-align: center;
  margin-left: 22px;
  width: 90%;
}

.flexbox-item-1 {
  min-height: 100px;
  flex-grow: 1;
}

.flexbox-item-2 {
  min-height: 200px;
  flex-grow: 1;
}

.flexbox-item-3 {
  min-height: 300px;
  flex-grow: 1;
}

/* API SECTION */

.app-wrap {
  display: flex;
  flex-direction: column;
  background-image: url('https://img.jakpost.net/c/2017/06/29/2017_06_29_29297_1498704001._large.jpg');
  /* background-image: url(../assets/img/air-pollution\ background.jpg); */
  /* background-color: rgb(50, 165, 165); */
  background-size: cover;
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)); */
}

.app-wrap header {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'JetBrains Mono', monospace;
}

.app-wrap header h2 {
  font-size: 3em;
  color: white;
}

.app-wrap header input {
  width: 100%;
  align-items: center;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: #202020;
  border-radius: 16px 0 16px 0;
  border-bottom: 3px solid rgb(158, 158, 158);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1rem;
}

header input :focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location .city {
  color: white;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: white;
  font: size 16px;
}

.coordinates {
  /* margin: 10px; */
  display: flex;
  justify-content: space-around;
}

.coordinates .lat {
  color: white;
  font-size: 45px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: normal;
  /* margin: 30px 0px; */
  /* text-shadow: 2px 8px rgba(0, 0, 0, 0.6); */
}

.coordinates .lon {
  color: white;
  font-size: 40px;
  font-weight: normal;
  font-family: 'JetBrains Mono', monospace;
  /* margin: 30px 0px; */
  /* text-shadow: 2px 8px rgba(0, 0, 0, 0.6); */
}

#lat-value {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  color: white
}

#lon-value {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  color: white
}

/* new css update */
.air-quality{
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
  padding-bottom: 40px;
  /* background-color: DodgerBlue; */
}

.format-airQuality {
  /* text-align: center; */
  color: aliceblue;
  font-size: 20px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
}
.airQuality-results{
  font-size: 19px;
  text-align: center;
}
.weather {
  color: white;
  font-size: 90px;
  text-align: center;
  font-weight: 900;
  /* margin: 10px 0px; */
  text-shadow: 4px 12px rgba(0, 0, 0, 0.6);
}

/* Slider pictures */
img {
  display: block;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
}

.wrapper-slider {
  overflow: hidden;
  height: 40vh;
  display: flex;
  margin-top: 20px;
  margin-bottom: 3ƒƒ0px;
  /* // border-top: dotted white 8px; */
}

.lil-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  grid-row-start: 2;
}

.lil-nav a {
  display: flex;
  min-width: 45vw;
  margin-right: 10px;
}

.lil-nav__img {
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;
}

.lil-nav__img:hover {
  transform: scale(1.05);
  filter: saturate(1);
}

/* Footer */

#footer {
  height: 3rem;
  /* margin-top: 4rem; */
  margin-bottom: 2rem;
  color: #000000;
  font-family: 'Caveat';
  text-align: center;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.social-media-links {
  padding-top: 1rem;
  font-size: 1.3rem;
}

/* Social Media Links */

.fa {
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.9;
}

.fa-facebook, .fa-twitter, .fa-youtube, .fa-instagram {
  color: #000000;
}

#searchbar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
  border: 2px solid rgb(11, 29, 11);
}

#submit {
  width: 80px;
  height: 28px;
  border: 2px solid rgb(18, 19, 18);
  font-size: 16px;
}