* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

body, html {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

.logo {
  margin: 0;
  font-size: 2em;
  /* font-family: 'Bad Script', cursive; */
}

.main-nav {
  margin-top: 5px;
}

.header, .main-nav {
  font-size: 1.02em;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 2.5em;
}

.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.178);
}

.header .logo a, .main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  letter-spacing: 3px;
}

.main-nav a {
  color: #000000;
  font-size: 1em;
}

.main-nav a:hover {
  color: #0a6b2f;
}

/* API SECTION */

.app-wrap {
  z-index: 1;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  background-image: linear-gradient(to bottom, rgb(97, 172, 233), rgb(255, 255, 255));
  max-width: 50%;
  width: 1200px;
  box-shadow: inset 0 0px 10px #333;
  border-radius: 10px;
  opacity: 0.8;
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.app-wrap header {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
}

.app-wrap header h2 {
  font-size: 3em;
}

.app-wrap header input {
  width: 100%;
  align-items: center;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
  color: #202020;
  border-radius: 16px 0 16px 0;
  border-bottom: 3px solid rgb(158, 158, 158);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1rem;
}

header input :focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location .city {
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: Verdana;
  margin-bottom: 10px;
}

.location .date {
  font-weight: bold;
  font-style: italic;
}

.coordinates {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.coordinates .lat {
  font-weight: normal;
  font-size: 1.55rem;
}

.coordinates .lon {
  font-weight: normal;
  font-size: 1.50rem;
}

#lat-value {
  font-family: Montserrat;
  font-size: 1.4rem;
  font-weight: bold;
}

#lon-value {
  font-family: Montserrat;
  font-size: 1.3rem;
  font-weight: bold;
}

.weather {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  color: rgb(5, 5, 5);
  font-size: 70px;
  font-family: Concert One;
}



/* Slider pictures */
img {
  display: block;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.24);
}

.wrapper-slider {
  overflow: hidden;
  height: 40vh;
  display: flex;
  /* // border-top: dotted white 8px; */
}

.lil-nav {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  grid-row-start: 2;
}

.lil-nav a {
  display: flex;
  min-width: 45vw;
  margin-right: 10px;
}

.lil-nav__img {
  object-fit: cover;
  filter: saturate(0);
  transition: 0.3s ease all;
}

.lil-nav__img:hover {
  transform: scale(1.05);
  filter: saturate(1);
}

/* Footer */

#footer {
  height: 3rem;
  /* margin-top: 4rem; */
  margin-bottom: 2rem;
  color: #000000;
  font-family: 'Caveat';
  text-align: center;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

#searchbar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
  border: 2px solid rgb(11, 29, 11);
}

#submit {
  width: 80px;
  height: 28px;
  border: 2px solid rgb(18, 19, 18);
  font-size: 16px;
}